body {
  margin: 0;
  font-family: 'Lato', 'sans-serif';
}

.graph {
  z-index: 0;
  width: 65%;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

.main-content {
  margin: 0;
}

.sidebar {
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100vh;
  background-color: #a9a9a9;
}

.graph-side {
  padding: 15px;
  background-color: #03254E;
}

#code-loaded {
  height: 85vh;
  overflow-y: auto;
  padding: 10px;
}

.zoom-text {
  position: absolute;
  left: 0;
}

.zoom-row {
  position: relative;
  color: white;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 18px;
}

.button-row {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.slider {
  position: relative;
  left: 7vw;
  top: 8px;
  -webkit-appearance: none;
  width: 22vw;
  opacity: 0.7;
  border-radius: 5px;
  height: 5px;
  background: #a9a9a9;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.autocomplete {
  width: 100%;
}
.func-input {
  width: 100%;
  height: 30px;
}
.autocomplete-items {
  color: #ffffff;
  background-color: #a9a9a9;
  padding: 5px;
  cursor: pointer;
}
.autocomplete-items div:hover {
  background-color: #03254E;
}
.autocomplete-active {
  background-color: #03254E !important;
  color: #ffffff;
}

button {
  background-color: white;
  border: 2px solid white;
  padding: 10px;
  font-size: 20px;
  color: #03254E;
  cursor:pointer;
  margin-top: 8px;
  margin-bottom: 8px;
}
button:hover {
  background-color: #03254E;
  color: white;
}

.function-code {
  color: red;
  cursor: pointer;
}

.popup {
  z-index: 10;
  padding: 10px;
  position: absolute;
  background-color: white;
  border: 3px #03254E solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  right: 35vw;
}

.popup h1 {
  padding: 0;
  border-bottom: 2px solid #03254E;
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
  padding-bottom: 3px;
}

.popup-toprow-elem {
  width: 50%;
}

.popup-toprow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.popup button {
  position: absolute;
  top: -42;
  right: -3;
  margin: 0;
  padding: 0;
  fill: #a9a9a9;
  border: 3px #03254E solid;
}

.popup button:hover {
  background-color: white;
  fill: #03254E;
}

.local-name {
  z-index: 10;
  position: absolute;
  top: 0;
  background-color: white;
  color: #03254E;
  border: 3px #03254E solid;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: fit-content;
}

.local-name h1 {
  font-size: 24px;
  padding: 0;
}

.folder-in-code {
  cursor: pointer;
}