body {
  font-family: 'Lato', 'sans-serif';
  font-size: 20px;
  background-image: url('http://localhost:5000/background.png');
  background-size:cover;
}

h1 {
  background-color: black;
  color: white;
  font-size: 64px;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.content {
  width: 40vw;
  height: max-content;
  position: absolute;
  top: 25vh;
  right: 30vw;
  text-align: center;
  border: none;
  padding-bottom: 10px;
  background-color: white;
}

button {
  background-color: #03254E;
  border: 8px solid #03254E;
  padding: 10px;
  font-size: 20px;
  color: white;
  cursor:pointer;
  margin-top: 8px;
  margin-bottom: 8px;
}

button:hover {
  background-color: white;
  color: #03254E;
}

meter {
  width: 15vw;
}

input[type=file] {
  font-size: 20px;
  margin-top: 18px;
  margin-bottom: 8px;
}

input[type=file]::file-selector-button {
  background-color: #03254E;
  border: 2px solid #03254E;
  padding: 10px;
  font-size: 20px;
  color: white;
  cursor:pointer;
}

input[type=file]::file-selector-button:hover {
  background-color: white;
  color: #03254E;
}